$main_color: #7a6b91;
$sub_color: #ede6d6;
$font-sizes: 3.5rem 1.5rem 3rem .9rem 2.5rem 0.6rem;
$font-stack: "Crimson Text", 'poppins', 'Noto Sans CJK JP';
$title-margin: 10rem auto 2.5rem;
$title-margin-sp: 5rem auto 2rem;
$radius: 0.6rem;
$button-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
$title-shadow: 2px 1px 5px rgba(0, 0, 0, .5);
$break-point: 1000px;
$break-pointSP: 580px;
$break-pointTb: 700px;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    background-color: $main_color;
}
body {
    font-family: "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic ProN",
                "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴシック",
                "Meiryo", "Arial", "sans-serif";
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
}

@mixin title {
    font-size: nth($font-sizes, 1);
    color: $sub_color;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: .15em;
    font-family: nth($font-stack, 1);
    text-align: center;
    overflow: hidden;

    @media screen and (max-width: $break-point) {
        font-size: nth($font-sizes, 3);
        margin: $title-margin-sp;
    }

    @media screen and (max-width: $break-pointSP) {
        font-size: 2.5rem;
    }
}

@mixin inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.titleAnime {
    opacity: 0;
}

.titleAnime.glow {
    animation: glow_anime_on 1s ease-out forwards;
}

@keyframes glow_anime_on {
    0% {
        opacity: 0;
        text-shadow: 0 0 0 #fff;
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 10px #fff, 0 0 15px #fff;
    }

    100% {
        opacity: 1;
        text-shadow: $title-shadow;
    }
}

.note {
    font-size: nth($font-sizes, 6);
    letter-spacing: initial;
}

/* ========
    ヘッダー＆ナビ
======== */


.header {
    height: 96px;
    width: 100vw;
    background-color: $sub_color;
    padding-top: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__item {
    font-size: nth($font-sizes, 2);
    margin-left: 30px;
    position: relative;

    a {
        color: $main_color;
        position: relative;
    }

    a::after {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: $main_color;
        bottom: -1px;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform 0.3s;
    }

    a:hover::after {
        transform: scale(1, 1);
    }

    &--contact {
        background-color: $main_color;
        border-radius: $radius;
        font-size: 2rem;
        height: 64px;
        margin-right: 80px;
        margin-left: 40px;
        position: relative;
        overflow: hidden;
        box-shadow: $button-shadow;
        transition: top .3s, box-shadow .3s;
        top: 0;

        &:hover {
            box-shadow: none;
            top: 9px;
        }

        a {
            color: #fff;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
        }

        ::before {
            content: '';
            position: absolute;
            top: 0;
            left: -32%;
            width: 25%;
            height: 100%;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
            transform: skewX(-25deg);
            animation: shine 2s infinite;
        }
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.toggle-btn {
    display: none;
}



#mask {
    background-color: $sub_color;
    width: 100vw;
    height: 50vh;
    top: -120%;
    left: 0;
    position: fixed;
    cursor: pointer;
    transform-origin: top right;
    z-index: 5000;
    transition: all 0.6s;
}


/* ========
    メインビジュアル
======== */


.main-visual {
    width: 100%;
    height: 480px;
    background-color: $sub_color;
    position: relative;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: $break-point) {
        height: 320px;
    }

    &__title {
        @include title;
        margin: 0;
        color: $main_color;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
        position: absolute;
        left: 16%;
        top: 40%;
        z-index: 500;

        @media screen and (max-width: $break-point) {
            top: 16%;
        }

        @media screen and (max-width: $break-pointTb) {
            text-align: left;
            font-size: nth($font-sizes, 5);
            left: 5%;
            top: 20%;
        }

        @media screen and (max-width: $break-pointSP) {
            font-size: 1.5rem;
            left: 8%;
            top: 25%;
        }

        &::first-letter {
            font-size: 6rem;
        }

        span {
            display: inline-block;
            opacity: 1;
            transition: opacity 0.5s;
        }


        &::after {
            content: "|";
            opacity: 0;
            animation: typing 0.8s ease infinite;
        }
    }

    &__image {
        clip-path: polygon(56% 0%, 100% 0%, 100% 100%, 0% 100%);
        width: 60%;
        font-family: nth($font-stack, 1);
    }
}

/* ========
    ワークス
======== */

.sub-title {
    display: block;
    color: #ede6d6;
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: clamp(12px, 2vw, 32px);
    font-family: nth($font-stack, 1);
}


.works {
    &__title {
        @include title;
        margin: $title-margin;
    }

    &__slider {
        width: 100%;
    }

    &__slide {
        transition: all 0.3s ease;
    }

    &__slide img {
        width: 600px;
        height: auto;
        border-radius: $radius;

        @media screen and (max-width: $break-point) {
            width: 400px;
            height: auto;
        }
    }

    &:hover .works__slide {
        opacity: 0.5;
        transform: scale(0.7);
    }

    &:hover .works__slide:hover {
        opacity: 1;
        transform: scale(1)
    }
}

// アロー・ページネーションのスタイル
.splide__arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    @media screen and (max-width: $break-point) {
        display: none;
    }
}

.splide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    width: 70px;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: block;

    &--prev {
        left: 10px;
        opacity: 0.7;

        img {
            @media screen and (max-width: $break-point) {
                width: 25px;
            }
        }
    }


    &--next {
        right: 10px;
        opacity: 0.7;

        img {
            @media screen and (max-width: $break-point) {
                width: 25px;
            }
        }
    }
}

.splide__pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    padding: 0;

    li {
        margin: 0 5px;
        @media screen and (max-width: 768px) {
            margin: 0 2px;
        }
    }

    button {
        width: 20px;
        height: 4px;
        border: none;
        background: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        transition: all 0.3s ease;

        &.is-active {
            background: #fff;
            width: 30px;
        }
    }
}

#design {
    padding-top: 10rem;
}

.design__wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scroll-container::-webkit-scrollbar {
    display: none;
}

.design__wrapper .simplebar-track {
    width: 80%;
    background-color: #ede6d6 !important;
    border-radius: 5px;
    margin: 0 auto;
    height: 10px;
    position: relative;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    background-color: #7a6b91 !important;
    color: #7a6b91 !important;
    height: 8px;
    position: absolute;
    top: 1px;
    border-radius: 5px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
    background-color: #7a6b91 !important;
    box-shadow: none !important;
}
.design__list {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    li {
        width: 500px;
        flex-shrink: 0;
        margin-right: 20px;
    }
    li img {
        display: block;
        max-width: 100%;
        height: auto;
    }
        @media screen and (max-width: 769px) {
            margin-bottom: 10px;
            li {
                width: 350px;
            }
            li img {
                max-width: 100%;
                height: auto;
            }
        }
    }

/* ========
    スキル
======== */

.skill {
    @include inner;

    &__title {
        @include title;
        margin: $title-margin;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 60px 20px;
        position: relative;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transform: translateY(160px);
        transition: opacity 2s, transform 2s;
        cursor: pointer;
        position: relative;
        z-index: 1;

        img {
            width: 100%;
            max-width: 100px;
            height: auto;
            transition: transform 0.3s ease;
        }
    }

    &__details {
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: $sub_color;
        border-radius: $radius;
        padding: 15px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
        box-shadow: $button-shadow;

        @media screen and (max-width: $break-point) {
            max-width: 90%;
            margin: 0 auto;
        }

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $sub_color;
        }

        p {
            margin: 0;
            padding: 10px;
            color: $main_color;
        }
    }
}

.skill__item {
    // opacity: 0;
    transform: translateY(0);
    visibility: hidden;
    // will-change: opacity, transform;
}

.skill__item.fadeUp {
    // opacity: 1;
    // transform: translateY(0);
    visibility: visible;
    animation: fadeUpAnime 1.5s ease-out;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.skill__item.active {
    z-index: 10;
    .skill__details {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
    }
}

@media (max-width: 768px) {
    .skill__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 10px;
    }

    .skill__item {
        width: auto;
    }
}

/* ========
    アバウト
======== */

.about {
    @include inner;

    &__title {
        @include title;
        margin: $title-margin;
    }

    &__wrapper {
        background-color: $sub_color;
        display: flex;
        align-items: flex-end;
        padding: 50px 40px;
        box-shadow: 0 0 10px -1px inset;
        border-radius: $radius;
        opacity: 0;
        visibility: hidden;
        transition: all 1s;
        transform: translateY(150px);
        margin-bottom: 10rem;

        @media screen and (max-width: $break-point) {
            flex-direction: column;
            padding: 25px 20px;
        }
        @media screen and (max-width: $break-pointTb) {
            margin-bottom: 3rem;
        }
    }

    &__image {
        margin-right: 20px;
        border-radius: $radius;

        @media screen and (max-width: $break-point) {
            margin-bottom: 20px;
            margin-right: 0px;
        }
    }

    &__text {
        color: $main_color;
        line-height: 2;
        letter-spacing: -0.05em;
        white-space: pre-line;
    }
}

.fadeIn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* ========
    コンタクト
======== */

.contact-wrapper {
    margin-bottom: 320px;
    @media screen and (max-width: $break-pointSP) {
        margin-bottom: 240px;
    }
}

#contact {
    @include inner;
    margin-bottom: 320px;

    @media screen and (max-width: 700px) {
        margin-bottom: 240px;
    }
}

.contact {
    width: 50%;
    margin: 0 auto;

    @media screen and (max-width: $break-point) {
        width: 80%;
    }

    &__title {
        @include title;
        margin: $title-margin;
    }

    &__label {
        display: block;
        color: $sub_color;
        text-align: left;
        font-size: nth($font-sizes, 2);
        font-weight: lighter;
    }

    &__input {
        display: block;
        background-color: #fff;
        width: 500px;
        height: 48px;
        padding: 10px;
        border-radius: $radius;
        margin-bottom: 20px;

        @media screen and (max-width: $break-point) {
            width: 100%;
        }
    }

    &__textarea {
        display: block;
        width: 500px;
        height: 200px;
        border-radius: $radius;
        background-color: #fff;
        margin-bottom: 100px;
        margin-bottom: 20px;

        @media screen and (max-width: $break-point) {
            width: 100%;
        }
    }

    &__button {
        width: 500px;
        height: 80px;
        color: $main_color;
        background-color: $sub_color;
        border-radius: $radius;
        box-shadow: $button-shadow;
        transition: .2s ease-in-out;

        @media screen and (max-width: $break-point) {
            width: 100%;
            height: 3rem;
        }

        &:hover {
            transform: translateY(9px);
            /* 元の位置から9px分下げる */
            box-shadow: 0 0 rgba(0, 0, 0, .5);
            /* 影を0pxにする */
        }
    }
}


/* ========
    SNS
======== */

.sns {
    @include inner;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;

    @media screen and (max-width: $break-point) {
        justify-content: center;
    }

    &__item {
        margin-left: 20px;
        width: 48px;
        transition-duration: .5s;

        :hover {
            transform: scale(1.2);
        }
    }
}

.page-top {
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 2;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;

    a {
        width: 160px;
        height: auto;
        display: block;
        transition: transform 0.3s ease;

        @media screen and (max-width: $break-point) {
            width: 120px;
        }
    }

    a:hover::before {
        content: '';
        position: absolute;
        left: 30%;
        top: 30%;
        border: 1px solid #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        opacity: 1;
        animation: circleAnime 1s forwards;
    }
}

@keyframes circleAnime {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.page-top.UpMove {
    animation: UpAnime 0.5s forwards;
    visibility: visible;
    opacity: 1;
}

@keyframes UpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page-top.DownMove {
    animation: DownAnime 0.5s forwards;
    opacity: 0;
    visibility: hidden;
}

@keyframes DownAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(100px);
    }
}

.footer__copy {
    font-size: nth($font-sizes, 4);
    color: $sub_color;
    text-align: center;
    margin-bottom: 20px;
}

/* ========
    SPナビ
======== */

@media (max-width: $break-point) {

    .header {
        display: none;
    }

    .toggle-btn {
        display: block;
        position: fixed;
        top: 8px;
        right: 8px;
        width: 56px;
        height: 56px;
        z-index: 10000;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 1rem;
        transition: all 0.5s;
    }
    
    .toggle-btn.open {
        border-color: $main_color;
    }

    .toggle-btn span {
        position: absolute;
        display: block;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: all 0.5s;
        border-radius: 4px;
        left: 12px;
    }

    .toggle-btn span:nth-child(1) {
        top: 16px;
    }

    .toggle-btn span:nth-child(2) {
        top: 26px;
    }

    .toggle-btn span:nth-child(3) {
        top: 36px;
    }

    .toggle-btn.open span:nth-child(1) {
        transform: rotate(-315deg);
        top: 27px;
        background-color: $main_color;
    }

    .toggle-btn.open span:nth-child(2) {
        opacity: 0;
    }

    .toggle-btn.open span:nth-child(3) {
        transform: rotate(315deg);
        top: 27px;
        background-color: $main_color;
    }

    #mask.open {
        top: 0;

        .nav {
            &__list {
                flex-direction: column;
                margin-top: 50px;
            }

            &__item {
                margin-bottom: 1rem;
                margin-left: 0;
                font-size: 1rem;
            }

            &__item--contact {
                margin: 0 auto;
                font-size: 1rem;
                padding: .5rem;
            }
        }
    }
}